*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 30);
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(2, 2, 43);
}
nav .left a{
    text-decoration: none;
    color: azure;
}
nav ul{
    display: flex;
    justify-content: center; 
}
nav ul li{
    font-size: 1rem;
    list-style: none;
    margin: 0 23px;
    padding-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    text-decoration: none;
    color: rgb(177, 123, 228);
    font-size: 1.01rem;
    font-weight: bold;
}
nav .left{
    font-size: 1.5rem;
    padding-left: 250px;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 90px 0;
}
.firstsection > div{
    width: 30%;
}
.leftsection span{
    font-size: 3rem;
}
.leftsection{
    font-size: 2.2rem;
}
.rightsection img{
    width: 130%;
    margin: 50px 0;;
}
#element, .purple{
    color: rgb(177, 123, 228);
}
.secondsection{
    max-width: 80vw;
    margin: auto;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.8px;
    margin: 30px 84px;
}
.secondsection h1{
    font-size: 1.9rem;
}
.text-gray{
    color: gray;
}
.secondsection h3{
    color: #9c97f1;
    font-size: 1.5rem;
    padding-top: 20px;
}
.detail{
    width: 100%;
    height: 100%;
    margin: auto;
}
footer{
    margin-top: 100px;
    background-color: rgb(2, 2, 43);
    
}
.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 23px 133px;
}
footer .footer-Licence{
    text-align: center;
    color: gray;
    padding: 12px 12px;
}
.bts{
    color: white;
    padding: 12px;
    background-color: rgb(2, 2, 84);
    border: 2px solid white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}
.bts:hover{
    background-color: rgb(72, 68, 68);
    font-size: 21px;
}
.bts1 a{
    color: white;
    text-decoration: none;
}
.bts1{
    padding: 12px;
    background-color: rgb(2, 2, 84);
    border: 2px solid white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}
.bts1:hover{
    background-color: rgb(72, 68, 68);
    font-size: 21px;
}
footer ul{
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 23px;
    padding-right: 30px;
}
.footer ul li a:hover{
    font-size: 14px;
    font-weight: bolder;
    color: rgb(228, 53, 53);
}